{% import "bootstrap/wtf.html" as wtf %}
{% extends "bootstrap/base.html" %}
{% block content %}
<form class="col-md-12" method="post" role="form">
<a href="/">return to Homepage</a> 
<h1> Digitales Impfzertifikat Ausstellfomular</h1> 
<div class="form-group">
{{ vnameform.hidden_tag() }}
{{ vnameform.vorname.label}}
{{ vnameform.vorname(class="form-control")}}
</div>
<div class="form-group">
{{ nnameform.nachname.label}}
{{ nnameform.nachname(class="form-control")}}
</div>
<div class="form-group">
{{ dobform.dob.label}}
{{ dobform.dob(class="form-control")}}
</div>
<div class="form-group">
{{ landform.land.label}}
{{ landform.land(class="form-control")}}
</div>
<div class="form-group">
{{ dATform.dAT.label}}
{{ dATform.dAT(class="form-control")}}
</div>
<div class="form-group">
{{ impftypform.vp.label}}
{{ impftypform.vp(class="form-control")}}
</div>
<div class="form-group">
{{ impfnameform.mp.label}}
{{ impfnameform.mp(class="form-control")}}
</div>
<div class="form-group">
{{ impfhersteller.ma.label}}
{{ impfhersteller.ma(class="form-control")}}
</div>
<div class="form-group">
{{ sdform.number.label}}
{{ sdform.number(class="form-control")}}
</div>
<div class="form-group">
{{ dnform.number.label}}
{{ dnform.number(class="form-control")}}
</div>
<div class="form-group">
{{ dtform.vdate.label}}
{{ dtform.vdate(class="form-control")}}
</div>
<div class="form-group">
{{ isform.aussteller.label}}
{{ isform.aussteller(class="form-control")}}
 </div>
<div class="form-group">
{{ vnameform.submit(class="btn btn-default") }}
</div>
</form>
{%endblock %}