<h1> digitales Impfzertifikat Ausstellfomular</h1> 
<br/>
<form method = "POST">
{{ vnameform.hidden_tag() }}
{{ vnameform.vorname.label}}
{{ vnameform.vorname}}
<br/>
{{ nnameform.nachname.label}}
{{ nnameform.nachname}}
<br/>
{{ dobform.dob.label}}
{{ dobform.dob}}
<br/>
{{ landform.land.label}}
{{ landform.land}}
<br/>
{{ dATform.dAT.label}}
{{ dATform.dAT}}
<br/>
{{ impftypform.vp.label}}
{{ impftypform.vp}}
<br/>
{{ impfnameform.mp.label}}
{{ impfnameform.mp}}
<br/>
{{ impfhersteller.ma.label}}
{{ impfhersteller.ma}}
<br/>
{{ dnform.number.label}}
{{ dnform.number}}
<br/>
{{ sdform.number.label}}
{{ sdform.number}}
<br/>
{{ dtform.vdate.label}}
{{ dtform.vdate}}
<br/>
{{ isform.aussteller.label}}
{{ isform.aussteller}}
<br/> <br/>
{{ vnameform.submit() }}