{% import "bootstrap/wtf.html" as wtf %}
{% extends "bootstrap/base.html" %}
{% import "bootstrap/utils.html" as utils %}
{% block content %}
<style>
.index {
  margin: 20px;
  font-size:250%;
}
</style>
<div class="index">
<h1>Homepage der Impfzertifikat Infrastruktur</h1>
<a href="/trustList/DSC">Trustlist der DSC</a> 
</br>
</br>
<a href="/create_digital_hcert">Impfzertifikat ausstellen</a> 
</br>
</br>
<a href="/verifyqr">Impfzertifikat überprüfen</a> 
</br>
</br>
<a href="/valuesets">Index der Valuesets</a> 
{%endblock %}
</div>